.pokemon-name {
    font-size: xx-large;
    color: black;
}
.xx-large {
    font-size: xx-large;
}

.pokemon-name > span {
    letter-spacing: 1rem;
}
.pokemon-details-types {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:3rem;
    margin: 1rem;
}

.pokemon-details-types div {
    border: 1px solid rgb(45, 127, 138);
    border-radius: 15px;
    padding: 1rem;
    background-color: rgb(177, 131, 131);
}

.pokemon-image {
    margin-top: 2rem;
    max-height: 200px;
}

.pokemon-details-wrapper {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 50%;
}
